#h1,#p1{
    z-index: 100000;
}

#a1,#navbarDropdownMenuLink,#a3,#a4,#a5,#a6,#a7,#a8,#a9,#a10,
#a11,#a12,#a13,#a14,#a15{
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.nav-item{
    margin-left: 15px;
    margin-right: 15px;
}
ul.navbar-nav{
position: relative;

}

.header-advance-search .submit button{
    margin-left: -8px;
}

ejs-autocomplete{
    width:95%;
    margin-left: 10px;
    margin-bottom: -20px;
    border-bottom-color: none;
}
.navHeaderContainer {
    display: flex;
    flex-direction: row-reverse;
}
@media (max-width: 991px) {
    .navHeaderContainer {
        flex: 1;
        display: contents;  
    }
    
    .force-scroll {

        overflow-x: scroll;
        width:0px;
        height: 350px;
        
        }
        
}
.toolWrap {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }

  @media (max-width: 420px) {
    .dropdown:hover>.dropdown-menu {
        display: block;
      }
   
    .search1{

        margin-left: 0px;
    }

    .link1{
        padding-right: 75px;
    }
    img.img1 {

       position: absolute;
       float: left;
        margin-top: -25px;
        }
}
@media (min-width: 1200px) {
    .header-advance-search{
        margin-left: 300px;
    }
    .header-account-links{
        margin-left: 170px;
    }
    
}

@media (max-width: 450px) {
    .header-advance-search{
        height: 45px;
    }
    
    
}