
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
    
  .top-nav-collapse {
    background-color: white;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: white;
    } 
    .dropdown-menu{
        width:200px;
    }
  }

  .dropdown-item{
    margin-top:15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 5px;
}

  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: white;
    }
    .dropdown-menu{
      width:200px;
  }    
  }
  .dropdown-menu{
      width:200%;
  }
  
</style>   
   
<!-- Header Section Start -->
<div class="header-section section container-fluid" style="position:fixed;background-color:white;">
<!--Navbar-->
<nav class="navbar navbar-expand-lg fixed-top scrolling-navbar" style="margin-top: -20px;display:flex;flex-direction: column;">
    <div class="header-top header-top-one header-top-border pt-10 pb-10" style="margin-top: 10px;cursor: pointer;">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col order-12 order-xs-12 order-lg-2 mt-10 mb-10">
                    <!-- Header Advance Search Start -->
                    <div class="header-advance-search search1">
                        
                        <form action="#">
                            <div class="input"><ejs-autocomplete id='atcelement' [dataSource]='options'[(value)]='search1' ></ejs-autocomplete></div>
                            <div class="submit"><button (click)="search()"><i class="icofont icofont-search-alt-1"></i></button></div>
                        </form>
                        
                        
                    </div><!-- Header Advance Search End -->
                </div>

                <div class="col order-2 order-xs-2 order-lg-12 mt-10 mb-10 link1">
                    <!-- Header Account Links Start -->
                    <div class="header-account-links " >
                        <a routerLink="register"><i class="icofont icofont-user-alt-7"></i> <span>my account</span></a>
                        <a routerLink="login"><i class="icofont icofont-login d-none"></i> <span>Login</span></a>
                    </div><!-- Header Account Links End -->
                </div>

            </div>
        </div>
    </div>
    <div class="container"style="margin-bottom: -20px;">
        <!-- Navbar brand -->
            
        
        <a routerLink="">
            <img src="assets/45.png" class="img1" height="67px" width="120px" alt="">
        </a>
        <div class="navHeaderContainer"> 
            <div class="toolWrap" style="margin-left: 110px;">
                <!-- Collapsible content -->
                                   
                        <!-- Compare -->
                        <a id="a16" class="header-compare"><i style="font-size:25px;font-weight: bold;padding: 5px;" class="ti-control-shuffle"></i></a>
                        <!-- Wishlist -->
                        <a id="a17" class="header-wishlist"><i style="font-size:25px;font-weight: bold;padding: 5px;" class="ti-heart"></i></a>
                        <!-- Cart -->
                        <a id="a18" class="header-cart"><i style="font-size:25px;font-weight: bold;padding: 5px;" class="ti-shopping-cart"></i></a>
                        
                            <!-- Collapse button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon" ><img src="assets/icons8-menu-48.png"height="15px" width="15px" alt=""></span>
                        </button>
            </div>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav"style="margin-left:30px;" >

            <!-- Links -->
            <ul class="navbar-nav mr-auto smooth-scroll">
                <li class="nav-item">
                    <a class="nav-link" routerLink="" id="a1">HOME</a>
                </li>
                <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">PRODUCT LIST</a>
                <div class="dropdown-menu dropdown-primary force-scroll" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" id="a3" (click)="navigate('Artificial Intelligence Products')">Artificial Intelligence Products</a>
                <a class="dropdown-item" id="a4" (click)="navigate('Biometric Time Attendance')">Biometric Time Attendance</a>
                <a class="dropdown-item" id="a5" (click)="navigate('Smart Card & RFID Reader')">Smart Card & RFID Reader</a>
                <a class="dropdown-item" id="a6" (click)="navigate('Fingerprint & IRIS Reader')">Fingerprint & IRIS Reader</a>
                <a class="dropdown-item" id="a7" (click)="navigate('RFID TAGS & CARDS')">RFID Tags & Cards</a>
                <a class="dropdown-item" id="a8" (click)="navigate('POS')">POS</a>
                <a class="dropdown-item" id="a9" (click)="navigate('Entrance Automation')">Entrance Automation</a>
                <a class="dropdown-item" id="a10" (click)="navigate('GPS & Navigation System')">GPS & Navigation System</a>
                <a class="dropdown-item" id="a11" (click)="navigate('CCTV Camera')">CCTV Camera</a>
                <a class="dropdown-item" id="a12" (click)="navigate('Paper Rolls')">Paper Rolls</a>
                </div>
            </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about" id="a13">ABOUT US</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" id="a14">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contact" id="a15" >CONTACT US</a>
                </li>
            </ul>
            <!-- Links -->
        </div>
    </div>
    </div>     
</nav> 

<!--/.Navbar-->
</div>

<!-- Header Section End -->
