
<style>
    p.contact-info1 a {
    display: contents;
    font-size: 14px;
    line-height: 23px;
}
</style>
<!-- Footer Section Start -->
<div class="footer-section section bg-ivory">
   
    <!-- Footer Top Section Start -->
    <div class="footer-top-section section pt-90 pb-50">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Start -->
                <div class="col-lg-3 col-md-6 col-12 mb-40">
                    <div>                 
                        <p class="contact-info">
                            <span>Address</span>
                            Plot no. 72,<br>
                            Behind khandelwal Rice mill,<br> Bajpai ward murri Road Gondia -441601
                        </p>
                    </div><br>
                    <div>                 
                    <p class="contact-info">
                        Plot No 38,<br>
                        2nd Floor Yashodeep Driving School,<br>
                        Pratap Nagar Road,Telecom Nagar,<br>
                        Nagpur, Maharashtra 440022
                    </p>
                </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-40">
                        <p class="contact-info1">
                           <b><span>Phone</span></b><br><br>
                           <span><i class="fas fa-mobile-alt"></i></span>&nbsp;&nbsp;<a>+91 9356969349</a><br>
                           <span><i class="fas fa-mobile-alt"></i></span>&nbsp;&nbsp;<a>+91 9673825839</a>
                        </p>
                </div>    
                <div class="col-lg-3 col-md-6 col-12 mb-40">   
                        <p>
                            <b><span>Web</span></b><br><br>
                            <span><i class="far fa-envelope"></i></span>&nbsp;&nbsp;<a href="mailto:https://info@arsecuritysystem.com">info@arsecuritysystem.com</a><br>
                            <i class="far fa-envelope"></i>&nbsp;&nbsp;<a href="https://arsecuritysystem.com">www.arsecuritysystem.com</a>
                        </p>
                        
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-40">
                    <div>                 
                        <p class="contact-info1">
                          <b><span>Social Media</span></b><br> 
                           
                          <a href="https://www.facebook.com/AR-Security-System-103645091376260"><img src="assets/banner/fb.png" style="width: 20%; height: 20%;"></a>
                          <a href="https://www.instagram.com/ar_security_system/?hl=en"><img src="assets/banner/insta.png" style="width: 27%; height: 27%;"></a>
                            
                        </p>
                    </div>
                </div>
                <!-- Footer Widget End -->               
            </div>
            
        </div>
    </div><!-- Footer Bottom Section Start -->

    <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: block;"><i class="icofont icofont-swoosh-up"></i></a>
   
    <!-- Footer Bottom Section Start -->
    <div class="footer-bottom-section section">
        <div class="container">
            <div class="row">
                
                <!-- Footer Copyright -->
                <div class="col-lg-6 col-12">
                    <div class="footer-copyright"><p>&copy; Copyright, 2020 All Rights Reserved @ <a href="https://arsecuritysystem.com">AR Security System</a></p></div>
                    <div class="footer-copyright"><p>Designed & Developed By <a href="https://avestantechnologies.com/">Avestan Technologies</a></p></div>
                </div>
                
                <!-- Footer Payment Support -->
                <div class="col-lg-6 col-12">
                    <div class="footer-payments-image"><img src="assets/images/payment-support.png" alt="Payment Support Image"></div>
                </div>
                
            </div>
        </div>
    </div><!-- Footer Bottom Section Start -->
    
</div><!-- Footer Section End -->

