<!-- About Section Start -->
<div class="about-section section mt-90 mb-30" style="margin-top: 180px;">
    <div class="container">
        
        <div class="row row-30 mb-40">
            
            <!-- About Image -->
            <div class="about-image col-lg-6 mb-50">
                <img src="assets/banner/aboutus.png" alt="">
            </div>
            
            <!-- About Content -->
            <div class="about-content col-lg-6">
                <div class="row">
                    <div class="col-12 mb-50">
                        <h1>WELCOME TO <span>AR Securities</span></h1>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AR Security System is a leading provider of state-of-the-art security systems that are custom designed to prevent any unauthorised access and monitor critical entry points. Our core expertise is based on rendering security systems that protect you and your assets at all times. Whether it is a small or large project, AR Security System has done it all! Our team of highly skilled and technicians, programmers, design and develop automated systems and software’s that keep you safe at all times. Our line-up of custom designed products include electronic security cameras, wireless security system, security metal detectors, access control security systems, Entrance automation, flap barrier, boom barrier , CCTV surveillance Systems, and office automation and 3-D face recognition attendance software.</p>
                        <p>“Customer Satisfaction is our foremost Motto.” To maximize creation of Wealth, Value & Satisfaction for the Stakeholders, To cultivate high Standard of Business Ethics & Total Quality Management for strong Corporate.                                                                           AR SECURITY SYSTEM BEGAN LIFE IN 2018 AS A SECURITY SYSTEM COMPANY SPECIALIZING IN ELECTRONIC SAFETY AND SECURITY FOR HOMES AND COMMERCIAL SPACES, Our passion soon evolved into providing Security Products solutions for Commerical businesses. Our deep insight into all aspects of technology pushes us to create cutting edge solutions that improves quality of life for people in operational efficiency in businesses.</p>
                    </div>

                    <div class="col-12 mb-50">
                        <h4>WE START AT </h4>
                        <p>AR Security system is one of the best Security System Products provider in India. Our focus is to delivering the right solutions to our clients, who require the Security system Products in their premises.</p>
                    </div>

                    <div class="col-12 mb-50">
                        <h4>BEST ONLINE SHOP </h4>
                        <p> We provide how all this mistaken idea of denouncing pleasure and sing pain was born an will give you a complete account of the system, and expound the actual teachings of the eat explorer of the truth, the mer of human.</p>
                    </div>

                </div>
            </div>
            
        </div>
        
        <div class="row row-10 mb-60">
            
            <!-- Banner -->
            <div class="col-md-3 mb-20">
                <div class="banner"><a href="#"><img src="assets/banner/about2.png" alt="Banner"></a></div>
            </div>
            
            <!-- Banner -->
            <div class="col-md-9">
                <div class="row row-10">
                    
                    <div class="col-md-6 col-12 mb-20"><div class="banner"><a href="#"><img src="assets/banner/aboutus3.png" alt="Banner"></a></div></div>
                    <div class="col-md-6 col-12 mb-20"><div class="banner"><a href="#"><img src="assets/banner/ARSecurity.png" alt="Banner"></a></div></div>
                    
                </div>
            </div>
            
        </div>
        
        <!-- Mission, Vission & Goal -->
        <div class="about-mission-vission-goal row row-20 mb-40">
            
            <div class="col-lg-4 col-md-6 col-12 mb-40">
                <h3>OUR VISSION</h3>
                <p>"To Be the Most Preferred IT & Security Product Company For Specialized IT Solutions, Support and Services with Customer Delight"</p>
            </div>
            
            <div class="col-lg-4 col-md-6 col-12 mb-40">
                <h3>OUR MISSION</h3>
                <p>Innovate and Integrate technology solutions with businesses.
                    Building long-term partnerships with clients, not just relationships.
                    Providing Intelligent Security Products & Solutions for Enterprises.</p>
            </div>
            
            <div class="col-lg-4 col-md-6 col-12 mb-40">
                <h3>OUR VALUES</h3>
                <p>C - Commitment</p>
                <p>O - Ownership</p>
                <p>A - Attitude</p>   
                <p>T - Teamwork</p>
            </div>
            
        </div>
        
        <div class="row mb-30">
            
            <!-- About Section Title -->
            <div class="about-section-title col-12 mb-50">
                <h3>YOU CAN CHOOSE US BECAUSE <br>WE ALWAYS PROVIDE IMPORTANCE...</h3>
                <p>We always believe that our success is in building a strong relationship with our clients and mutual trust by providing them good quality services and products. who are more capable to provide to them good support and good quality services on time to our clients.</p>
                <p>We gain valuable insight experiences needed to do understand your unique business challenges and goals. Building on this we shared the understanding ISS is able to apply real world business experience and technical knowledge to help you envision the possible solutions related to Security System Products...</p>
            </div>
            
            <!-- About Feature -->
            <div class="about-feature col-lg-7 col-12">
                <div class="row">
                    
                    <div class="col-md-6 col-12 mb-30">
                        <h4>FAST DELIVERY</h4>
                        <p>Need a faster delivery? We are have some faster options for you, but please always contact us, before you select your delivery option.</p>
                    </div>
                    
                    <div class="col-md-6 col-12 mb-30">
                        <h4>QUALITY PRODUCT</h4>
                        <p>Now, you do not have to look further to buy branded products at best at AR Security Systam and are known for its high quality on best market price.</p>
                    </div>
                    
                    <div class="col-md-6 col-12 mb-30">
                        <h4>24/7 SUPPORT</h4>
                        <p>When you call the support team, you’ll speak to a person immediately. You can submit a ticket through call or mail any day, at any time, and we will assist you. Our 24/7 Customer Support team is ready and waiting to serve you.</p>
                    </div>
                    
                </div>
            </div>
            
            <!-- About Feature Banner -->
            <div class="about-feature-banner col-lg-5 col-12 mb-30">
                <div class="banner"><a href="#"><img src="assets/banner/b1.png" alt="Banner"></a></div>
            </div>
            
        </div>
        
    </div>
</div><!-- About Section End -->