
<div class="contact-section section mt-90 mb-40" style="margin-top: 150px;">
    <div class="container">
        <div class="row">
            
            <!-- Contact Page Title -->
            <div class="contact-page-title col mb-40">
                <h1>Hi <br>Let’s Connect us</h1>
            </div>
        </div>
        <div class="row">
            
            <!-- Contact Tab List -->
            <div class="col-lg-4 col-12 mb-50">
                <ul class="contact-tab-list nav">
                    <li><a class="active" data-toggle="tab" href="#contact-form-tab">Leave us a message</a></li>
                    
                </ul>
            </div>
            
            <!-- Contact Tab Content -->
            <div class="col-lg-8 col-12">
                <div class="tab-content">
                    
                    
                    
                    <!-- Contact Form Tab -->
                    <div class="tab-pane fade show active row d-flex" id="contact-form-tab">
                        <div class="col">
                            
                            <form id="contact-form" action="" method="post" class="contact-form mb-50">
                                <div class="row">
                                    <div class="col-md-6 col-12 mb-25">
                                        <label for="first_name">First Name*</label>
                                        <input id="first_name" type="text" name="first_name">
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <label for="last_name">Last Name*</label>
                                        <input id="last_name" type="text" name="last_name">
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <label for="email_address">Email*</label>
                                        <input id="email_address" type="email" name="email_address">
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <label for="phone_number">Phone</label>
                                        <input id="phone_number" type="text" name="phone_number">
                                    </div>
                                    <div class="col-12 mb-25">
                                        <label for="message">Message*</label>
                                        <textarea id="message" name="message"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <input type="submit" value="SEND NOW">
                                    </div>
                                </div>
                            </form>
                            <p class="form-messege"></p>
                            
                        </div>
                    </div>
                    
                   
                </div>
            </div>
        </div>
    </div>
</div><!-- Contact Section End -->