
<div class="product-section section mb-60" style="margin-top: 170px;"id="view">
    <div class="container">
        <div class="row">
            
            <!-- Section Title Start -->
            <div class="col-12 mb-40">
                <div class="section-title-one" ><h1 id="view">{{parameter}}</h1></div>
            </div><!-- Section Title End -->
            
            <div class="col-12">
                <div class="row">
                    
                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10" *ngFor="let d of all;">
                        <!-- Product Start -->
                        <div class="ee-product" (click)="viewproduct(d)">

                            <!-- Image -->
                            <div class="image">

                                <a class="img"><img [src]="'../'+d.imgsrc" alt="Product Image"></a>

                                <div class="wishlist-compare">
                                    <a  data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                    <a  data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                </div>

                                <a  class="add-to-cart"><i class="ti-shopping-cart"></i><span>BUY NOW</span></a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="category-title">

                                    <a class="cat">{{d.cat}}</a>
                                    <h5 class="title"><a>{{d.name}}</a></h5>

                                </div>

                                <!-- Price & Ratting -->
                                <div class="price-ratting">

                                    <h5 class="price"><span class="old"> </span></h5>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>

                                </div>

                            </div>

                        </div><!-- Product End -->
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!---------------------------->
