#div1,#div2,#div3{
    
    margin-left:150px;
}

h1{
    font-size: 35px;
}

#a1,#a2,#a3{
    border: 1px solid #626262;
    border-radius: 50px;
    line-height: 24px;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #202020;
    margin-top: 22px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: green;
}

