<style>
    /* Make the image fully responsive */
    .carousel-inner img {
      width: 100%;
      height: 100%;
    }
</style>

<!----start banner corousel---->
<div class="hero-section section mb-30" style="margin-top:170px;">
<div class="container">
    <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">
    
      <!-- Indicators -->
      
      
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/banner/Realtime-Banner.gif"  width="100%" height="100%">
        </div>
        <div class="carousel-item">
            <img src="assets/banner/AR-SEcurity.png" width="100%" height="100%">
          </div>
        <div class="carousel-item">
            <img src="assets/banner/MFS100.png" width="100%" height="100%">
          </div>
        <div class="carousel-item">
          <img src="assets/910 Smart POS Non-Payment Terminal.gif" width="100%" height="100%">
        </div>
        <div class="carousel-item">
          <img src="assets/banner/newyear.png" width="100%" height="100%">
        </div>
      </div>
      
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"><i class="fa fa-arrow-circle-left" style="font-size:48px;color:rgb(145, 142, 142)"></i></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"><i class="fa fa-arrow-circle-right" style="font-size:48px;color:rgb(145, 142, 142)"></i></span>
      </a>
    </div>
</div>
</div>
<!----end banner corousel---->

<br><br><br><br>
<!-- Banner Section Start -->
<div class="banner-section section mb-60">
        <div class="container">
            <div class="row row-10">
                
                <!-- Banner -->
                <div class="col-md-8 col-12 mb-30">
                    <div class="banner"><a href="#"><img src="assets/BARCODE-IMAGE.jpg" height="320px" width="770px" alt="Banner"></a></div>
                </div>
                
                <!-- Banner -->
                <div class="col-md-4 col-12 mb-30">
                    <div class="banner"><a href="#"><img src="assets/banner/mfstab-banner.gif" height="320px" width="380px" alt="Banner"></a></div>
                </div>
                
            </div>
        </div>
</div>
<!-- Banner Section End -->

<!-- Feature Product Section Start -->
<div class="product-section section mb-60">
    <div class="container">
        <div class="row">
            
            <!-- Section Title Start -->
            <div class="col-12 mb-40">
                <div class="section-title-one" data-title="FEATURED ITEMS"><h1>FEATURED ITEMS</h1></div>
            </div><!-- Section Title End -->
            
            <!-- Product Tab Filter Start -->
            <div class="col-12 ">
                <div class="product-tab-filter">
                    
                    <!-- Tab Filter Toggle -->
                    <button class="product-tab-filter-toggle" >showing: <span></span><i class="icofont icofont-simple-down"></i></button>
                    
                    <!-- Product Tab List -->
                    <ul class="nav product-tab-list" id="list" >
                        <li><a class="active" data-toggle="tab" href="#tab-one">all</a></li>
                        <li><a data-toggle="tab"  href="#tab-two">AI products</a></li>
                        <li><a data-toggle="tab"  href="#tab3">Entrance Automation</a></li>
                        <li><a data-toggle="tab" href="#tab4">Smart Card & RFID Reader</a></li>
                        <li><a data-toggle="tab"  href="#tab5">RFID Tags & Cards</a></li>
                        <li><a data-toggle="tab"  href="#tab6">POS</a></li>
                    </ul>
                    
                </div>
            </div><!-- Product Tab Filter End -->
            
            <!-- Product Tab Content Start -->
            <div class="col-12">
                    <div class="tab-content">
                    
                    <!-- Tab Pane Start -->
                    <div class="tab-pane fade show active" id="tab-one">
                        
                        <!-- Product Slider Wrap Start -->
                        <div class="product-slider-wrap product-slider-arrow-one">
                            <!-- Product Slider Start -->
                            <div class="product-slider product-slider-4">
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10" *ngFor="let d of all.img;">
                                    <!-- Product Start -->
                                    <div class="ee-product" (click)="viewproduct(d)">

                                        <!-- Image -->
                                        <div class="image">

                                            <a  class="img"><img [src]="d.imgsrc" alt="Product Image"></a>

                                            <div class="wishlist-compare">
                                                <a data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                                <a data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                            </div>

                                            <a class="add-to-cart"><i class="ti-shopping-cart"></i><span>BUY NOW</span></a>

                                        </div>

                                        <!-- Content -->
                                        <div class="content">

                                            <!-- Category & Title -->
                                            <div class="category-title">

                                                <a class="cat">{{d.cat}}</a>
                                                <h5 class="title"><a>{{d.name}}</a></h5>

                                            </div>

                                            <!-- Price & Ratting -->
                                            <div class="price-ratting">

                                                <h5 class="price"></h5>
                                                <div class="ratting">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>

                                            </div>

                                        </div>

                                    </div><!-- Product End -->
                                </div>

                                
                            </div>
                            </div><!-- Product Slider End -->
                        </div><!-- Product Slider Wrap End -->
                        
                    </div><!-- Tab Pane End -->
                    
                    <!-- Tab Pane Start -->
                    <div class="tab-pane fade" id="tab-two">
                        
                        <!-- Product Slider Wrap Start -->
                        <div class="product-slider-wrap product-slider-arrow-one">
                            <!-- Product Slider Start -->
                            <div class="product-slider product-slider-4 row">

                                <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10" *ngFor="let d of ai.data;">
                                    <!-- Product Start -->
                                    <div class="ee-product" (click)="viewproduct(d)">

                                        <!-- Image -->
                                        <div class="image">

                                            
                                            <a href="single-product.html" class="img"><img [src]="d.imgsrc" alt="Product Image"></a>

                                            <div class="wishlist-compare">
                                                <a data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                                <a data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                            </div>

                                            <a class="add-to-cart"><i class="ti-shopping-cart"></i><span>BUY NOW</span></a>

                                        </div>

                                        <!-- Content -->
                                        <div class="content">

                                            <!-- Category & Title -->
                                            <div class="category-title">

                                                <a class="cat">{{d.cat}}</a>
                                                <h5 class="title"><a href="">{{d.name}}</a></h5>

                                            </div>

                                            <!-- Price & Ratting -->
                                            <div class="price-ratting">

                                                <h5 class="price"><span class="old"></span></h5>
                                                <div class="ratting">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>

                                            </div>

                                        </div>

                                    </div><!-- Product End -->
                                </div>

                                

                            </div><!-- Product Slider End -->
                        </div><!-- Product Slider Wrap End -->
                        
                    </div><!-- Tab Pane End -->
                    
                    <!-- Tab Pane Start -->
                    <div class="tab-pane fade" id="tab3">
                        
                        <!-- Product Slider Wrap Start -->
                        <div class="product-slider-wrap product-slider-arrow-one">
                            <!-- Product Slider Start -->
                            <div class="product-slider product-slider-4 row">

                                <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10" *ngFor="let d of entrance.data;">
                                    <!-- Product Start -->
                                    <div class="ee-product" (click)="viewproduct(d)">

                                        <!-- Image -->
                                        <div class="image">

                                            
                                            <a class="img"><img [src]="d.imgsrc" alt="Product Image"></a>

                                            <div class="wishlist-compare">
                                                <a data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                                <a data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                            </div>

                                            <a class="add-to-cart"><i class="ti-shopping-cart"></i><span>BUY NOW</span></a>

                                        </div>

                                        <!-- Content -->
                                        <div class="content">

                                            <!-- Category & Title -->
                                            <div class="category-title">

                                                <a class="cat">{{d.cat}}</a>
                                                <h5 class="title"><a>{{d.name}}</a></h5>

                                            </div>

                                            <!-- Price & Ratting -->
                                            <div class="price-ratting">

                                                <h5 class="price"><span class="old"></span></h5>
                                                <div class="ratting">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>

                                            </div>

                                        </div>

                                    </div><!-- Product End -->
                                </div>

                                

                            </div><!-- Product Slider End -->
                        </div><!-- Product Slider Wrap End -->
                        
                    </div><!-- Tab Pane End -->

                     <!-- Tab Pane Start -->
                    <div class="tab-pane fade" id="tab4">
                        
                        <!-- Product Slider Wrap Start -->
                        <div class="product-slider-wrap product-slider-arrow-one">
                            <!-- Product Slider Start -->
                            <div class="product-slider product-slider-4 row">

                                <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10" *ngFor="let d of smart_card.data;">
                                    <!-- Product Start -->
                                    <div class="ee-product" (click)="viewproduct(d)">

                                        <!-- Image -->
                                        <div class="image">

                                            
                                            <a class="img"><img [src]="d.imgsrc" alt="Product Image"></a>

                                            <div class="wishlist-compare">
                                                <a data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                                <a data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                            </div>

                                            <a class="add-to-cart"><i class="ti-shopping-cart"></i><span>BUY NOW</span></a>

                                        </div>

                                        <!-- Content -->
                                        <div class="content">

                                            <!-- Category & Title -->
                                            <div class="category-title">

                                                <a class="cat">{{d.cat}}</a>
                                                <h5 class="title"><a >{{d.name}}</a></h5>

                                            </div>

                                            <!-- Price & Ratting -->
                                            <div class="price-ratting">

                                                <h5 class="price"><span class="old"></span></h5>
                                                <div class="ratting">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>

                                            </div>

                                        </div>

                                    </div><!-- Product End -->
                                </div>

                                

                            </div><!-- Product Slider End -->
                        </div><!-- Product Slider Wrap End -->
                        
                    </div><!-- Tab Pane End -->

                     <!-- Tab Pane Start -->
                     <div class="tab-pane fade" id="tab5">
                        
                        <!-- Product Slider Wrap Start -->
                        <div class="product-slider-wrap product-slider-arrow-one">
                            <!-- Product Slider Start -->
                            <div class="product-slider product-slider-4 row">

                                <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10" *ngFor="let d of rfid_tag.data;">
                                    <!-- Product Start -->
                                    <div class="ee-product" (click)="viewproduct(d)">

                                        <!-- Image -->
                                        <div class="image">

                                            
                                            <a href="single-product.html" class="img"><img [src]="d.imgsrc" alt="Product Image"></a>

                                            <div class="wishlist-compare">
                                                <a data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                                <a data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                            </div>

                                            <a class="add-to-cart"><i class="ti-shopping-cart"></i><span>BUY NOW</span></a>

                                        </div>

                                        <!-- Content -->
                                        <div class="content">

                                            <!-- Category & Title -->
                                            <div class="category-title">

                                                <a class="cat">{{d.cat}}</a>
                                                <h5 class="title"><a >{{d.name}}</a></h5>

                                            </div>

                                            <!-- Price & Ratting -->
                                            <div class="price-ratting">

                                                <h5 class="price"><span class="old"></span></h5>
                                                <div class="ratting">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>

                                            </div>

                                        </div>

                                    </div><!-- Product End -->
                                </div>

                                

                            </div><!-- Product Slider End -->
                        </div><!-- Product Slider Wrap End -->
                        
                    </div><!-- Tab Pane End -->

                    <!-- Tab Pane Start -->
                    <div class="tab-pane fade" id="tab6">
                        
                        <!-- Product Slider Wrap Start -->
                        <div class="product-slider-wrap product-slider-arrow-one">
                            <!-- Product Slider Start -->
                            <div class="product-slider product-slider-4 row">

                                <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10" *ngFor="let d of pos.data;">
                                    <!-- Product Start -->
                                    <div class="ee-product" (click)="viewproduct(d)">

                                        <!-- Image -->
                                        <div class="image">

                                            
                                            <a class="img"><img [src]="d.imgsrc" alt="Product Image"></a>

                                            <div class="wishlist-compare">
                                                <a data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                                <a data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                            </div>

                                            <a class="add-to-cart"><i class="ti-shopping-cart"></i><span>BUY NOW</span></a>

                                        </div>

                                        <!-- Content -->
                                        <div class="content">

                                            <!-- Category & Title -->
                                            <div class="category-title">

                                                <a class="cat">{{d.cat}}</a>
                                                <h5 class="title"><a >{{d.name}}</a></h5>

                                            </div>

                                            <!-- Price & Ratting -->
                                            <div class="price-ratting">

                                                <h5 class="price"><span class="old"></span></h5>
                                                <div class="ratting">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>

                                            </div>

                                        </div>

                                    </div><!-- Product End -->
                                </div>

                                

                            </div><!-- Product Slider End -->
                        </div><!-- Product Slider Wrap End -->
                        
                    </div><!-- Tab Pane End -->
                    
                </div>
            
            </div><!-- Product Tab Content End -->
            
        </div>
    </div>
</div>
<!-- Feature Product Section End -->

<!-- Best Sell Product Section Start -->
<div class="product-section section mb-60">
        <div class="container">
            <div class="row">
                                
                                <!-- Section Title Start -->
                                <div class="col-12 mb-40">
                                    <div class="section-title-one" data-title="BEST SELLER"><h1>BEST SELLERS</h1></div>
                                </div><!-- Section Title End -->
                                
                                <div class="col-12">
                                    <div class="row" >
                                    
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10" *ngFor="let d of data.img;">
                                            <!-- Product Start -->
                                            <div class="ee-product"(click)="viewproduct(d)" >

                                                <!-- Image -->
                                                <div class="image">

                                                    <a class="img"><img [src]="d.imgsrc" alt="Product Image"></a>

                                                    <div class="wishlist-compare">
                                                        <a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                                        <a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                                    </div>

                                                    <a class="add-to-cart" ><i class="ti-shopping-cart"></i><span>BUY NOW</span></a>

                                                </div>

                                                <!-- Content -->
                                                <div class="content" >

                                                    <!-- Category & Title -->
                                                    <div class="category-title">

                                                        <a href="#" class="cat">{{d.cat}}</a>
                                                        <h5 class="title"><a >{{d.name}}</a></h5>

                                                    </div>

                                                    <!-- Price & Ratting -->
                                                    <div class="price-ratting">

                                                        <h5 class="price"></h5>
                                                        <div class="ratting">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-half-o"></i>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div><!-- Product End -->
                                        </div>   
                                        
                                        <!-- The Modal -->
  
                                        
                                        
                                    </div>
                            </div>
            </div>
        </div>
</div>
<!-- Best Sell Product Section End -->
    
<!-- Banner Section Start -->
<div class="banner-section section mb-90">
    <div class="container">
        <div class="row">
            <!-- Banner -->
            <div class="col-12">
                <div class="banner"><a href="#"><img src="assets/banner/bannerr2.png" alt="Banner"></a></div>
            </div>  
        </div>
    </div>
</div><!-- Banner Section End -->  

<!-- Feature Section Start -->
<div class="feature-section section mb-60">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-4 col-md-6 col-12 mb-30">
                <!-- Feature Start -->
                <div class="feature feature-shipping">
                    <div class="feature-wrap">
                        <div class="icon"><img src="assets/images/icons/feature-van.png" alt="Feature"></div>
                        <h4>FREE SHIPPING</h4>
                        <p>Start from $100</p>
                    </div>
                </div><!-- Feature End -->
            </div>
            
            <div class="col-lg-4 col-md-6 col-12 mb-30">
                <!-- Feature Start -->
                <div class="feature feature-guarantee">
                    <div class="feature-wrap">
                        <div class="icon"><img src="assets/images/icons/feature-walet.png" alt="Feature"></div>
                        <h4>MONEY BACK GUARANTEE</h4>
                        <p>Back within 15 days</p>
                    </div>
                </div><!-- Feature End -->
            </div>
            
            <div class="col-lg-4 col-md-6 col-12 mb-30">
                <!-- Feature Start -->
                <div class="feature feature-security">
                    <div class="feature-wrap">
                        <div class="icon"><img src="assets/images/icons/feature-shield.png" alt="Feature"></div>
                        <h4>SECURE PAYMENTS</h4>
                        <p>Payment Security</p>
                    </div>
                </div><!-- Feature End -->
            </div>
            
        </div>
    </div>
</div><!-- Feature Section End -->

<!-- New Arrival Product Section Start -->
<div class="product-section section mb-60">
    <div class="container">
        <div class="row">
            
            <!-- Section Title Start -->
            <div class="col-12 mb-40">
                <div class="section-title-one" data-title="NEW ARRIVAL"><h1>NEW ARRIVAL</h1></div>
            </div><!-- Section Title End -->
            
            <div class="col-12">
                <div class="row">
                    
                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10" *ngFor="let d of new_arrival.data">
                        <!-- Product Start -->
                        <div class="ee-product" (click)="viewproduct(d)">

                            <!-- Image -->
                            <div class="image">

                                <a class="img"><img [src]="d.imgsrc" alt="Product Image"></a>

                                <div class="wishlist-compare">
                                    <a  data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                    <a  data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                </div>

                                <a  class="add-to-cart"><i class="ti-shopping-cart"></i><span>BUY NOW</span></a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="category-title">

                                    <a class="cat">{{d.cat}}</a>
                                    <h5 class="title"><a>{{d.name}}</a></h5>

                                </div>

                                <!-- Price & Ratting -->
                                <div class="price-ratting">

                                    <h5 class="price"><span class="old"></span></h5>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>

                                </div>

                            </div>

                        </div><!-- Product End -->
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div><!-- New Arrival Product Section End -->

<!-- Banner Section Start -->
<div class="banner-section section mb-60">
    <div class="container">
        <div class="row">
            
            <!-- Banner -->
            <div class="col-md-4 col-12 mb-30">
                <div class="banner"><a href="#"><img src="assets/banner/bann10off.png"  alt="Banner"></a></div>
            </div>
            
            <!-- Banner -->
            <div class="col-md-4 col-12 mb-30">
                <div class="banner"><a href="#"><img src="assets/banner/posbanner.png"alt="Banner"></a></div>
            </div>
            
            <!-- Banner -->
            <div class="col-md-4 col-12 mb-30">
                <div class="banner"><a href="#"><img src="assets/banner/mfstab.png" alt="Banner"></a></div>
            </div>
            
        </div>
    </div>
</div><!-- Banner Section End -->
    





